In [1]:
# Import Required Libraries

# For data manipulation and analysis
import pandas as pd
import numpy as np

# For data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# For building the machine learning model
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

print("Libraries imported successfully!")

Libraries imported successfully!

In [ ]:
# Load the dataset
# Make sure the .csv file is in the same folder as your notebook
file_path = 'flood_dataset_classification.csv'
df = pd.read_csv(file_path)


columns_to_drop = ['Total Deaths', 'Total Affected', 'duration', 'Disaster Type']
df.drop(columns=columns_to_drop, inplace=True)


# Display first few rows of the CLEANED dataset
print("Dataset loaded and cleaned successfully. Here are the first 5 rows:")
print(df.head())

Dataset loaded and cleaned successfully. Here are the first 5 rows:
   Latitude  Longitude  time     Rainfall  Elevation      Slope  distance  \
0   52.6717    -0.2995  1900  1383.125626       11.0   1.788207       0.0
1   35.6897   139.6920  1909  1383.125626       49.0  24.356508       0.0
2   39.9050   116.3910  1909   580.345856       55.0   8.374380       0.0
3   23.1288   113.2590  1912  2993.401777        7.0  12.917221       0.0
4   39.1467   117.2060  1913  1383.125626        3.0   1.513093       0.0

   occured
0        1
1        1
2        1
3        1
4        1

In [5]:
df.head()

,Latitude,Longitude,time,Rainfall,Elevation,Slope,distance,occured
0,52.6717,-0.2995,1900,1383.125626,11.0,1.788207,0.0,1
1,35.6897,139.6920,1909,1383.125626,49.0,24.356508,0.0,1
2,39.9050,116.3910,1909,580.345856,55.0,8.374380,0.0,1
3,23.1288,113.2590,1912,2993.401777,7.0,12.917221,0.0,1
4,39.1467,117.2060,1913,1383.125626,3.0,1.513093,0.0,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   6237 non-null   float64
 1   Longitude  6237 non-null   float64
 2   time       6237 non-null   int64
 3   Rainfall   6237 non-null   float64
 4   Elevation  6237 non-null   float64
 5   Slope      6237 non-null   float64
 6   distance   6237 non-null   float64
 7   occured    6237 non-null   int64
dtypes: float64(6), int64(2)
memory usage: 389.9 KB

In [9]:
df.shape
df.describe()

,Latitude,Longitude,time,Rainfall,Elevation,Slope,distance,occured
count,6237.000000,6237.000000,6237.000000,6237.000000,6237.000000,6237.000000,6.237000e+03,6237.000000
mean,18.767296,25.577775,1994.058041,1200.677851,604.385537,7.169169,5.440781e+03,0.672118
std,23.205920,75.478904,20.522141,1164.591241,855.309741,8.954785,8.607790e+04,0.469479
min,-53.162569,-175.273869,1900.000000,0.547090,-29.000000,0.000000,0.000000e+00,0.000000
25%,4.868178,-43.415278,1987.000000,489.270857,42.000000,1.854334,0.000000e+00,0.000000
50%,22.704752,30.488437,2000.000000,1029.113686,239.000000,3.704792,0.000000e+00,1.000000
75%,37.963000,92.340000,2008.000000,1524.737477,839.000000,8.656136,0.000000e+00,1.000000
max,69.968735,179.847745,2016.000000,23751.949287,6796.000000,65.991348,1.390229e+06,1.000000

In [11]:
df.isna().sum()

Latitude     0
Longitude    0
time         0
Rainfall     0
Elevation    0
Slope        0
distance     0
occured      0
dtype: int64

In [16]:
# Check for duplicated rows
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicated rows: {duplicate_rows}")
df.loc[df.duplicated()]

Number of duplicated rows: 203

,Latitude,Longitude,time,Rainfall,Elevation,Slope,distance,occured
31,39.930000,32.850000,1944,1383.125626,851.0,0.000000,0.0,1
62,33.698900,73.036900,1951,1301.508115,546.0,3.818779,0.0,1
81,28.700000,77.200000,1954,474.667505,221.0,2.134204,0.0,1
96,28.700000,77.200000,1956,474.667505,221.0,2.134204,0.0,1
98,28.700000,77.200000,1957,474.667505,221.0,2.134204,0.0,1
...,...,...,...,...,...,...,...,...
6000,34.053691,-118.242766,2011,330.029723,107.0,8.656136,0.0,0
6010,15.633300,32.633300,2011,26.659415,387.0,0.963030,0.0,0
6014,38.543000,44.447000,2011,575.906059,2479.0,26.406073,0.0,0
6049,26.781000,92.457000,2012,3552.464807,102.0,0.927410,0.0,0
6108,30.500000,102.500000,2014,1248.916546,4094.0,58.655899,0.0,0